<!-- navigation.html -->
<template id="gts-sidebar-template">
    <div class="gts-logo">
        <a href="./index.html"><img src="../assets/imgs/gts-logo.png" alt="GTS Logo" /></a>
    </div>
    <div id="nav-wrapper">
        <div class="nav-stage custom-scroll-bar">
            <div class="nav-items">
                <nav>
                    <ul>
                        <li class="active"><a href="./index.html">
                                <span class="mat-icon material-symbols-sharp">dashboard</span>
                                <span class="nav-item">Dashboard</span>
                            </a></li>
                        <li><a href="./sites.html">
                                <span class="mat-icon material-symbols-sharp">local_gas_station</span>
                                <span class="nav-item">Sites</span>
                            </a></li>
                        <li><a href="./reports.html">
                                <span class="mat-icon material-symbols-sharp">lab_profile</span>
                                <span class="nav-item">Reports</span>
                            </a></li>
                        <li><a href="./alarms.html">
                                <span class="mat-icon material-symbols-sharp">warning</span>
                                <span class="nav-item">Alarms
                                    <span class="gts-badge">100</span>
                                </span>
                            </a></li>
                        <li><a href="./tanks.html">
                                <span class="mat-icon material-symbols-sharp">storage</span>
                                <span class="nav-item">Tanks</span>
                            </a></li>
                        <li><a href="./delivery.html">
                                <span class="mat-icon material-symbols-sharp">local_shipping</span>
                                <span class="nav-item">Delivery</span>
                            </a></li>
                        <li><a href="./configurations.html">
                                <span class="mat-icon material-symbols-sharp">settings</span>
                                <span class="nav-item">Configurations</span>
                            </a></li>
                    </ul>
                </nav>
                <button class="btn btn-icon" id="mobile-menu">
                    <span class="mat-icon material-symbols-sharp">menu</span>
                </button>
            </div>
            <div class="nav-footer">
                <div class="nav-footer-wrapper" id="user-profile">
                    <div class="gts-avatar">
                        <img src="../assets/imgs/avatar.jpg" alt="User Avatar" />
                    </div>
                    <div class="gts-profile">
                        <div class="welcome-user">Hi, <strong>Monther Younis</strong>
                            <span class="mat-icon material-symbols-sharp">keyboard_arrow_down</span>
                        </div>
                        <span class="user-email">monther.younis@outlook.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>