// Dark theme goes here

html {
    body {
        &.dark-mode {
            --gts-dark-color: #d6cfcf;
            --gts-gray-color: #c4cacE;
            --gts-brd-color: 106,105,105;
            --gts-white-color: #313234;
            --gts-light-color: #29292A;

            --gts-white-color: #101019;
            --gts-light-color: #171721;
            --grs-lg-shadow: 0 0 20px rgba(11, 11, 11, 0.2);

            // .gts-section-conatiner .gts-flex-row .gts-cards .gts-card-container .gts-card {
            //     background-color: var(--gts-light-color) !important;
            // }
            #gts-wrapper #side-bar .gts-logo {
                mix-blend-mode: luminosity !important;
            }
            .gts-section-conatiner .gts-flex-row .gts-box .gts-charts.white-box {
                background-color: var(--gts-light-color) !important;
                border: 0 !important;
            }
        }
    }
}