:root {
    /** Colors **/
    --gts-primary-color: #156E41;
    --gts-dark-color: #4D4D4D;
    --gts-gray-color: #9c9b9b;
    --gts-brd-color: 156, 155, 155;
    --gts-white-color: #FFFFFF;
    --gts-light-color: #eff0f1;
    --gts-red-color: #E04C4C;

    /** Fonts **/
    --gts-main-font: "Poppins", sans-serif;
    --gts-icon-fs: 21px; 
    --gts-title-fs: 24px; 
    --gts-heading-fs: 18px; 
    --gts-normal-fs: 15px; 
    --gts-small-fs: 14px; 
    --gts-xsmall-fs: 11px; 

    /** Theme **/
    --gts-lg-curve: 21px;
    --gts-md-curve: 14px;
    --gts-sm-curve: 7px;
}