.gts-section-conatiner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .gts-flex-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .gts-box {
            flex: 1;

            .gts-charts {
                width: 100%;
                height: 100%;
                border-radius: var(--gts-sm-curve);
                display: flex;
                flex-direction: column;
                padding: 30px;
                min-height: 680px;
                &.white-box {
                    background-color: var(--gts-white-color);
                    border: 1px var(--gts-light-color) solid;
                }

                .gts-card-title {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    h3 {
                        font-size: var(--gts-heading-fs);
                        color: var(--gts-dark-color);
                    }

                    .mat-icon {
                        font-size: var(--gts-title-fs);
                        color: var(--gts-dark-color);
                    }
                }

                .chart-legend {
                    display: flex;
                    justify-content: center;
                    gap: 21px;
                    padding: 30px 0;

                    .legend-item {
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        .legend-color {
                            border-radius: 50%;
                            width: 14px;
                            height: 14px;
                        }

                        .legend-label {
                            font-size: var(--gts-small-fs);
                        }
                    }
                }

                .chartArea {
                    flex: 1;
                }
            }
        }

        &.row-5-5 {
            .gts-box:first-of-type {
                max-width: 55%;
                flex-basis: 55%;
                flex: auto;
            }
        }

        &.cols {
            flex-direction: column;

            .gts-cards.cards-3 {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .gts-cards {
            display: grid;
            gap: 10px;

            &.cards-5 {
                grid-template-columns: repeat(2, 1fr);

                .gts-card-container:nth-child(5) {
                    grid-column: 1 / -1;
                }
            }

            &.cards-4 {
                grid-template-columns: repeat(2, 1fr);
            }

            &.cards-3 {
                grid-template-columns: 1fr;
            }

            &.cards-2 {
                grid-template-columns: 1fr;
            }

            &.cards-1 {
                grid-template-columns: 1fr;
            }

            .gts-card-container {
                .gts-card {
                    border-radius: var(--gts-sm-curve);
                    background-color: var(--gts-light-color);
                    width: 100%;
                    height: 100%;
                    padding: 40px 60px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 21px;

                    .gts-value {
                        .icon-wrapper {
                            border-radius: var(--gts-sm-curve);
                            padding: 14px;
                            background-color: transparent;
                            width: 52px;
                            height: 52px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 14px;
                            position: relative;
                            overflow: hidden;

                            &::before {
                                content: '';
                                pointer-events: none;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0.1;
                            }
                        }

                        h3 {
                            color: var(--gts-dark-color);
                            font-size: var(--gts-title-fs);
                            font-weight: 400;
                            color: var(--gts-dark-color);

                            span {
                                font-size: var(--gts-large-fs);
                                font-weight: 600;
                            }
                        }

                        p {
                            color: var(--gts-gray-color);
                            font-weight: 500;
                        }
                    }

                    &.gasoline95 {
                        .gts-value {
                            .icon-wrapper {
                                .mat-icon {
                                    color: var(--gasoline-95);
                                }

                                &::before {
                                    background-color: var(--gasoline-95);
                                }
                            }
                        }
                    }

                    &.gasoline91 {
                        .gts-value {
                            .icon-wrapper {
                                .mat-icon {
                                    color: var(--gasoline-91);
                                }

                                &::before {
                                    background-color: var(--gasoline-91);
                                }
                            }
                        }
                    }

                    &.diesel {
                        .gts-value {
                            .icon-wrapper {
                                .mat-icon {
                                    color: var(--diesel);
                                }

                                &::before {
                                    background-color: var(--diesel);
                                }
                            }
                        }
                    }

                    .trending {
                        position: absolute;
                        bottom: 30px;
                        right: 30px;
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        // justify-content: center;
                        gap: 9px;
                        font-size: var(--gts-small-fs);
                        z-index: 91;
                        font-weight: 500;

                        .trending-tag {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            padding: 3px 7px;
                            border-radius: 4px;
                            background-color: var(--gts-dark-color);
                            color: var(--gts-white-color);
                            font-weight: 400;
                            position: relative;
                            overflow: hidden;

                            .mat-icon {
                                font-size: var(--gts-heading-fs);
                                color: var(--gts-white-color);
                            }
                        }

                        &.up {
                            .trending-tag {
                                background-color: var(--gts-green-color);
                            }
                        }

                        &.down {
                            .trending-tag {
                                background-color: var(--gts-red-color);
                            }
                        }
                    }
                }
            }
        }
    }
}