.gts-grid-wrapper {
    .gts-grid-item {
        .gts-value {
            margin: auto;
            .icon-wrapper {
                border-radius: var(--gts-sm-curve);
                padding: 14px;
                background-color: transparent;
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 14px;
                position: relative;
                overflow: hidden;
    
                &::before {
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--gts-gray-color);
                    opacity: 0.1;
                }
            }
    
            h3 {
                color: var(--gts-dark-color);
                font-size: var(--gts-normal-fs);
                font-weight: 400;
                color: var(--gts-gray-color);
    
                span {
                    color: var(--gts-dark-color);
                    font-size: var(--gts-xlarge-fs);
                    font-weight: 600;
                }
            }
    
            p {
                color: var(--gts-gray-color);
                font-weight: 500;
                margin-top: 4px;
            }
        }
        .sites-list-wrapper {
            .gts-filter {
                position: relative;
                z-index: 1;
                input {
                    padding-left: 50px;
                    position: relative;
                    z-index: 1;
                }
                .mat-icon {
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 100%;
                    font-size: var(--gts-icon-fs);
                    z-index: 2;
                }
            }
            .sites-list {
                max-height: 470px;
                ul {
                    li {   
                        padding: 30px 5px;
                        border-top: 1px solid;
                        border-color: rgba( var(--gts-brd-color), 0.1 );
                        &:first-of-type {border: 0 !important;}
                        .site-wrapper {
                            display: flex;
                            gap: 14px;
                            .site-body {
                                display: flex;
                                gap: 14px;
                                cursor: pointer;
                                .icon-wrapper {
                                    border-radius: var(--gts-sm-curve);
                                    padding: 14px;
                                    background-color: transparent;
                                    width: 52px;
                                    height: 52px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-bottom: 0;
                                    position: relative;
                                    overflow: hidden;
                                    &::before {
                                        content: '';
                                        pointer-events: none;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: var(--gts-gray-color);
                                        opacity: 0.1;
                                    }
                                    &.online{
                                        .mat-icon { color: var(--gts-green-color); }
                                        &:before {
                                            background-color: var(--gts-green-color);
                                        }
                                    }
                                    &.offline{
                                        .mat-icon { color: var(--gts-red-color); }
                                        &:before {
                                            background-color: var(--gts-red-color);
                                        }
                                    }
                                }

                                .site-details {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 4px;
                                    p {
                                        color: var(--gts-gray-color);
                                        font-size: var(--gts-normal-fs);
                                    }
                                    h3 {
                                        color: var(--gts-dark-color);
                                        font-size: var(--gts-normal-fs) !important;
                                    }
                                }
                            }
                            .site-control {
                                margin: 0 0 0 auto;
                                display: flex;
                                align-items: flex-start;
                                .btn {
                                    box-shadow: none !important;
                                    position: relative;
                                    padding: 12px 18px;
                                    height: auto !important;
                                    font-weight: 500 !important;
                                    &:hover {
                                        color: #fff !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #mapWrapper {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            iframe {
                height: 100% !important;
                width: 100% !important;
            }
        }
        .site-status-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 0px;
            .chart-area {
                padding-top: 10px;
            }
            .site-value-wrapper {
                font-size: var(--gts-normal-fs);
                color: var(--gts-gray-color);
                font-weight: 500;
                span {
                    font-size: var(--gts-icon-fs);
                    font-weight: 600;
                }
            }
            #onlineSitesChartInner + .site-value-wrapper {
                color: var(--gts-green-color);
            }
            #offlineSitesChartInner + .site-value-wrapper {
                color: var(--gts-red-color);
            }
        }
    }
    .gap-top {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid;
        border-color: rgba( var(--gts-brd-color), 0.1 );
    }
    .gts-dt-wrapper {
        // Datatable header and Filter
        .dt-header {
            display: flex;
            align-items: center;
            padding: 0 5px 20px;
            .gts-db-title {
                display: flex;
                align-items: center;
                h2 {
                    font-size: var(--gts-heading-fs);
                    color: var(--gts-dark-color);
                }
            }
            .dt-filter {
                display: flex;
                align-items: center;
                margin: 0 0 0 auto;
                .dt-length {
                    width: auto !important;
                    label {
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        position: relative;
                        cursor: pointer;
                        border: 1px solid;
                        border-color: rgba( var(--gts-brd-color), 0.2 );
                        border-radius: var(--gts-sm-curve);
                        .mat-icon {
                            position: absolute;
                            top: 50%;
                            right: 8px;
                            transform: translateY(-50%);
                            pointer-events: none;
                            font-size: var(--gts-icon-fs);
                            color: var(--gts-dark-color);
                        }
                        select {
                            border: 0 !important;
                            background-color: transparent !important;
                            cursor: pointer;
                            padding: 12px 24px 12px 12px !important;
                        }
                    }
                }
                .dt-gts-search {
                    display: flex;
                    align-items: center; 
                    position: relative;
                    .mat-icon {
                        position: absolute;
                        top: 50%;
                        left: 14px;
                        transform: translateY(-50%);
                        pointer-events: none;
                        font-size: var(--gts-icon-fs);
                        color: var(--gts-dark-color);
                    }
                    .dt-search {
                        position: relative;
                        input {
                            border-radius: var(--gts-sm-curve);
                            padding: 12px 14px 12px 38px;
                            border: 1px solid;
                            border-color: rgba( var(--gts-brd-color), 0.2 );
                        }
                    }
                }
                .dt-ctrls {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    margin-right: 7px;
                }
            }
        }

        // Datatable body
        .dt-body {
            table.collapsed {
                tr td:first-of-type {
                    cursor: pointer;
                }
            }
            td, th {
                padding: 21px 28px;
                text-align: left !important;
                font-weight: 500;
                border: 1px solid !important;
                border-color: rgba( var(--gts-brd-color), 0.1 ) !important;
                span {
                    width: fit-content;
                    white-space: nowrap;
                }
                .dt-column-title {
                    margin-right: 10px;
                }
                .sort-icon {
                    margin-left: 10px;
                }
                .status-dt {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
                span.offline,
                span.online {
                    position: relative;
                    padding: 4px 14px;
                    border-radius: 100px;
                    font-size: var(--gts-small-fs);
                    &::before {
                        content: '';
                        pointer-events: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 100px;
                        opacity: 0.1;
                    }
                }
                span.offline {
                    color: var(--gts-red-color);
                    &::before {
                        content: '';
                        background-color: var(--gts-red-color);
                    }
                }
                span.online {
                    color: var(--gts-green-color);
                    &::before {
                        content: '';
                        background-color: var(--gts-green-color);
                    }
                }
            }

            th {
                background-color: var(--gts-light-color);
                background-color: rgba( var(--gts-brd-color), 0.05 );
                vertical-align: middle;
                .dt-column-title {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    color: var(--gts-dark-color);
                    .mat-icon {
                        font-size: var(--gts-normal-fs);
                        color: var(--gts-dark-color);
                    }
                }
            }
            td {
                .flex-box {
                    gap: 7px;
                    .collapse-icon {
                        position: relative;
                        display: inline-block;
                        width: 14px !important;
                    }
                    .collapse-icon:before,
                    .collapse-icon:after {
                        content:'';
                        position: absolute;
                        background-color: var(--gts-primary-color);
                        width: 14px;
                        height: 3px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) scale(0.8);;
                    }
                    .collapse-icon:before {
                      transform: translate(-50%, -50%) rotate(90deg) scale(0.8);;
                      transition: all 0.7s ease;
                    }
                }
            }
            .dtr-expanded {
                .flex-box {
                    .collapse-icon:before {
                        transform: translate(-50%, -50%) rotate(360deg) scale(0.8);
                    }
                }
            }
            td.view-details {
                text-align: center !important;
                button {
                    margin: auto !important;
                }
            }

            /* First row */
            .gts-dt-table tr:first-child th:not(.dtr-hidden):first-of-type {
                border-top-left-radius: var(--gts-sm-curve);
            }
            
            .gts-dt-table tr:first-child th:not(.dtr-hidden):last-of-type {
                border-top-right-radius: var(--gts-sm-curve);
            }
            
            /* Last row */
            .gts-dt-table tr:last-child td:not(.dtr-hidden):first-of-type {
                border-bottom-left-radius: var(--gts-sm-curve);
            }
            
            .gts-dt-table tr:last-child td:not(.dtr-hidden):last-of-type {
                border-bottom-right-radius: var(--gts-sm-curve);
            }

            th.sorting,
            th.sorting_asc,
            th.sorting_desc {
                background-image: none !important;
                padding-right: 25px;
                position: relative;
            }
            .dt-column-order {
                display: none !important;
            }
            .sort-icon {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: var(--gts-normal-fs);
                color: var(--gts-dark-color);
            }

            ul.dtr-details li {
                display: flex;
                align-items: center;
                padding: 14px 0;
                gap: 15px;
                .dtr-title {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    width: 210px;
                    .mat-icon {
                        font-size: var(--gts-icon-fs);
                        color: var(--gts-dark-color);
                    }
                }
            }
        }

        // Datatable footer
        .dt-footer {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center !important;
            align-items: center !important;
            padding-top: 20px;
            > div {
                width: 100%;
                justify-content: flex-end !important;
                margin: 0 !important;
                display: flex;
                font-size: var(--gts-small-fs) !important;
                color: var(--gts-gray-color);
            }
            .gts-paging {
                margin: 0 !important;
                justify-content: center !important;
                text-align: center;
            }
            .dt-paging {
                margin: 0 auto;
                nav {
                    display: flex;
                    align-items: center;
                    button {
                        border-radius: 50% !important;
                        border: 0 !important;
                        width: 45px !important;
                        height: 45px !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--gts-small-fs);
                        font-weight: 600;
                        box-shadow: none !important;
                        color: var(--gts-dark-color) !important;
                        &:hover {
                            color: var(--gts-dark-color) !important;
                        }
                    }
                    .dt-paging-button:hover:not(.disabled) {
                        background: rgba( var(--gts-brd-color), 0.1 ) !important;
                        color: var(--gts-gray-color) !important;
                    }
                    .dt-paging-button.current, 
                    .dt-paging-button.current:hover {
                        background: var(--gts-primary-color) !important;
                        color: #fff !important;
                    }

                }
            }
        }

    }
}

#export-datatable {
    .popover-body {
        width: 380px !important;
        max-width: none !important;
        .popover-header {
            border-bottom: 1px solid;
            border-color: rgba( var(--gts-brd-color), 0.1 );
            padding: 10px 0 15px;
            margin-bottom: 10px;
        }
        .form-group {
            padding: 10px 0;
            > label {
                margin-bottom: 7px !important;
                display: inline-block;
                font-size: var(--gts-small-fs);
            }
            .export-select {
                position: relative;
                border-radius: var(--gts-sm-curve);
                border: 1px solid;
                border-color: rgba( var(--gts-brd-color), 0.1 );
                padding: 4px;
                height: 50px;
                input {
                    position: absolute !important;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    width: 1px;
                    border: 0;
                    overflow: hidden;

                    &:checked + label {
                        background-color: transparent;
                        box-shadow: none;
                        color: #fff;
                    }
                }
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc( 322px / 2 );
                    background-color: transparent;
                    color: var(--gts-dark-color);
                    font-size: var(--gts-normal-fs);
                    font-weight: 400;
                    text-align: center;
                    text-shadow: none;
                    padding: 6px 14px;
                    height: 100%;
                    // border: 1px solid rgba(0, 0, 0, 0.2);
                    // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
                    transition: all 400ms ease;
                    transition-delay: 70ms;
                    position: relative;
                    z-index: 2;
                    &:hover {
                        cursor: pointer;
                        color: var(--gts-primary-color);
                    }
                }
                .switcher {
                    width: calc( 322px / 2 );
                    height: calc( 100% - 4px);
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    border-radius: calc( var(--gts-sm-curve) - 2px);
                    box-sizing: border-box;
                    background: var(--gts-primary-color);
                    // transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition: all 0.2s ease;
                    z-index: 1;
                }
                #currentPage:checked ~ .switcher {
                    left: 2px;
                }
                #selectedRows:checked ~ .switcher {
                    left: calc( 322px / 2 );
                }
                #allData:checked ~ .switcher {
                    left: calc( 100%  - calc( 330px / 2 ) );
                }
            }
            .export-type {
                gap: 7px;
                button {
                    background-color: rgba( var(--gts-brd-color), 0.1 ) !important;
                    background-color: var(--gts-light-color) !important;
                    box-shadow: none !important;
                    color: var(--gts-dark-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                    padding: 10px 20px !important;
                    height: auto;
                
                    .svg-icon {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

// .drawer-wrapper .drawer-body .site-details-tabs {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 0;
//     padding: 30px 0;
//     button {
//         background-color: transparent;
//         border: 0;
//         padding: 0;
//         cursor: pointer;
//         padding: 15px 30px;
//         border-radius: 0;
//         position: relative;
//         z-index: 2;
//         color: var(--gts-dark-color);
//         font-size: var(--gts-normal-fs);
//         font-weight: 500;
//         &::before {
//             content: '';
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             pointer-events: none;
//             z-index: 1;
//             background-color: var(--gts-gray-color);
//             opacity: 0;
//             transition: opacity 420ms ease;
//         }
//         &.active {
//             color: var(--gts-primary-color);
//             &::before {
//                 background-color: var(--gts-primary-color);
//                 opacity: 0.1;
//             }
//         }
//         &:hover {
//             &::before {
//                 opacity: 0.1;
//             }
//         }
//     }
// }

#tankTabContainer,
#pumpsTabContainer {
    .tank-card, 
    .pump-card {
        border: 0px solid;
        border-color: rgba( var(--gts-brd-color), 0.1 );
        padding: 30px;
        margin-bottom: 5px;
        border-radius: var(--gts-sm-curve);
        background-color: var(--gts-light-color) !important;
        > .label-wrapper {
            gap: 10px;
            align-items: flex-start;
            flex-direction: column;
            display: flex;
            padding: 0 5px;
        }

        
        .icon-wrapper {
            border-radius: var(--gts-sm-curve);
            padding: 14px;
            background-color: transparent;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            color: var(--gts-gray-color);
            display: none;
            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--gts-gray-color);
                opacity: 0.1;
            }
            .mat-icon {
                font-size: var(--gts-normal-fs);
            }
        }
        
        p.tank-label,
        p.pump-label {
                font-weight: 400;
                font-size: var(--gts-small-fs);
                color: var(--gts-gray-color);
        }

        h3.tank-name,
        h3.pump-name {
                font-weight: 500;
                font-size: var(--gts-title-fs);
                color: var(--gts-dark-color);
                margin: 0 !important;
                padding: 0 !important;
        }

        // &.gasoline95 {
        //     .icon-wrapper {
        //         .mat-icon { color: var( --gasoline-95 ); }
        //         &::before {background-color: var( --gasoline-95 );}
        //     }
        //     .tank-label {color: var( --gasoline-95 );}
        // }
        // &.gasoline92 {
        //     .icon-wrapper {
        //         .mat-icon { color: var( --gasoline-92 ); }
        //         &::before {background-color: var( --gasoline-92 );}
        //     }
        //     .tank-label {color: var( --gasoline-92 );}
        // }
        // &.gasoline91 {
        //     .icon-wrapper {
        //         .mat-icon { color: var( --gasoline-91 ); }
        //         &::before {background-color: var( --gasoline-91 );}
        //     }
        //     .tank-label {color: var( --gasoline-91 );}
        // }
        // &.gasoline80 {
        //     .icon-wrapper {
        //         .mat-icon { color: var( --gasoline-80 ); }
        //         &::before {background-color: var( --gasoline-80 );}
        //     }
        //     .tank-label {color: var( --gasoline-80 );}
        // }
        // &.diesel {
        //     .icon-wrapper {
        //         .mat-icon { color: var( --diesel ); }
        //         &::before {background-color: var( --diesel );}
        //     }
        //     .tank-label {color: var( --diesel );}
        // }
        // &.cng {
        //     .icon-wrapper {
        //         .mat-icon { color: var( --cng ); }
        //         &::before {background-color: var( --cng );}
        //     }
        //     .tank-label {color: var( --cng );}
        // }
    }
    
    .progress-container {
        background-color: rgba( var(--gts-brd-color), 0.14 );
        border-radius: var(--gts-lg-curve);
        height: 7px;
        overflow: hidden;
        margin: 10px 0 7px !important;
        position: relative;
        z-index: 2;
        gap: 2px;
        display: flex;
        flex-direction: row;

        span.dash {
            position: relative;
            background-color: var(--gts-light-color);
            width: 2px;
            height: 100%;
            top: 0;
            pointer-events: none;
            z-index: 4;
            width: 2px;
        }
        .progress-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(
                to right, 
                var(--gts-red-color) 0%, 
                var(--gts-red-color) 20%, 
                var(--gts-orange-color) 20%, 
                var(--gts-orange-color) 80%, 
                var(--gts-green-color) 80%, 
                var(--gts-green-color) 100%, 
            );
        }
        .progress-bar {
            height: 100%;
            // background-color: var(--gts-green-color);
            position: absolute;
            background-color: var(--gts-light-color);
            width: 0%;
            transition: width 0.3s ease;
            z-index: 3;
            top: 0;
            left: 0;
            border-radius: var(--gts-lg-curve);
            &.red {
                background-color: var(--gts-red-color);
            }
            &.orange {
                background-color: var(--gts-orange-color);
            }
            &.yellow {
                background-color: #FAD47B;
            }
            &.green {
                background-color: var(--gts-green-color);
            }
        }
    }

    .capacity-wrapper {
        display: flex;
        gap: 7px;
        margin: 12px 0 0 auto;
        text-align: right;
        justify-content: flex-end;
        .tank-capacity,
        .current-volume {
            font-weight: 500;
            font-size: var(--gts-small-fs);
            display: flex;
            align-items: center;
            span:not(.mat-icon) {
                font-size: 0.8em;
                margin-left: 3px;
                color: var(--gts-gray-color);
            }
            .mat-icon {
                display: flex;
                align-items: center; 
                font-size: 1em;
                margin-right: 4px;
                transform: translateY(-0.7px);
            }
        }
        .current-volume:after {
            content: 'of';
            position: relative;
            padding: 0 4px 0 8px;
            display: inline-block;
            font-size: 1em;
        }
    }

    .alarm-list {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid;
        border-color: rgba( var(--gts-brd-color), 0.1 );
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        li {
            .alarm-item {
                display: flex;
                align-items: center;
                gap: 14px;
                border-radius: 100px;
                border: 1px solid;
                border-color: rgba( var(--gts-brd-color), 0.1 );
                padding: 4px 20px 4px 4px;
                font-size: var(--gts-small-fs);
                background-color: var(--gts-white-color);
                .severity {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: var(--gts-red-color);
                    border-radius: 100px;
                    position: relative;
                    padding: 7px 18px 7px 14px;
                    .mat-icon {
                        color: var(--gts-red-color);
                        font-size: 1.2em;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        pointer-events: none;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.1;
                        background-color: var(--gts-red-color);
                        border-radius: 100px;
                    }
                }
                &.warning {
                    .severity {
                        color: var(--gts-orange-color);
                        .mat-icon { color: var(--gts-orange-color); }
                        &::before {background-color: var(--gts-orange-color);}
                    }
                }
                &.info {
                    .severity {
                        color: var(--gts-blue-color);
                        .mat-icon { color: var(--gts-blue-color); }
                        &::before {background-color: var(--gts-blue-color);}
                    }
                }
                &.alarm {
                    .severity {
                        color: var(--gts-red-color);
                        .mat-icon { color: var(--gts-red-color); }
                        &::before {background-color: var(--gts-red-color);}
                    }
                }
                .alarm-type {
                    font-weight: 500;
                }
                .alarm-date {
                    font-style: italic;
                    margin: 0 0 0 auto;
                    font-size: 0.9em;
                }
                .alarm-status {
                    margin: 0 0 0 auto;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    .is-active {
                        color: var(--gts-green-color);
                    }
                    .not-active {
                        color: var(--gts-red-color);
                    }
                }
            }
            .no-alarms {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                color: var(--gts-gray-color);
                padding-top: 0px;
                font-size: 0.92em;
                .mat-icon {
                    color: var(--gts-gray-color);
                    font-size: 1.3em;
                }
            }
        }
    }

    .pump-card {
        .label-wrapper {
            margin-bottom: 10px;
            padding-bottom: 30px;
            border-bottom: 1px solid;
            border-color: rgba( var(--gts-brd-color), 0.1 );
        }
        .nozzles-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 0px;
            gap: 7px;
            .nozzle-item {
                padding: 30px 5px;
                border-radius: var(--gts-sm-curve);
                border-bottom: 1px solid;
                border-color: rgba( var(--gts-brd-color), 0.1 );
                position: relative;
                z-index: 2;
                &::before {
                    border-radius: var(--gts-sm-curve);
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: -1;
                }
                &:last-of-type {
                    border: 0;
                    padding-bottom: 10px !important;
                }
                .nozzle-header {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    align-items: center;
                    .nozzle-label {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 2px;
                        text-align: left;
                        p {
                            font-size: var(--gts-small-fs);
                            color: var(--gts-gray-color);
                        }
                    }
                }
                .nozzle-icon {
                    border-radius: var(--gts-sm-curve);
                    padding: 14px;
                    background-color: transparent;
                    width: 52px;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    svg {
                        width: 100%;
                        height: auto;
                        transform: scale(1.3) translateY(2px);
                    }
                    // overflow: hidden;
                    &::before {
                        content: '';
                        pointer-events: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--gts-gray-color);
                        border-radius: var(--gts-sm-curve);
                        opacity: 0.1;
                    }
                    .nozzle-number {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -12px;
                        left: -12px;
                        background-color: var(--gts-white-color);
                        border-radius: 50%;
                        box-shadow: -10px -10px 15px -5px rgba(0,0,0, 0.05);
                        font-size: var(--gts-small-fs);
                        font-weight: 500;
                    }
                }

                &.gasoline95 {

                    .nozzle-icon {
                        color: var(--gasoline-95);
                        .mat-icon {
                            color: var(--gasoline-95);
                            fill: var(--gasoline-95);
                        }
                        &::before {
                            background-color: var(--gasoline-95);
                        }
                    } 

                    &::before {
                        background-color: var(--gasoline-95);
                    }
                }
                &.gasoline92 {
                    .nozzle-icon {
                        color: var(--gasoline-92);
                        .mat-icon {
                            color: var(--gasoline-92);
                            fill: var(--gasoline-92);
                        }
                        &::before {
                            background-color: var(--gasoline-92);
                        }
                    } 
                    &::before {
                        background-color: var(--gasoline-92);
                    }
                }
                &.gasoline91 {
                    .nozzle-icon {
                        color: var(--gasoline-91);
                        .mat-icon {
                            color: var(--gasoline-91);
                            fill: var(--gasoline-91);
                        }
                        &::before {
                            background-color: var(--gasoline-91);
                        }
                    } 
                    &::before {
                        background-color: var(--gasoline-91);
                    }
                }
                &.gasoline80 {
                    .nozzle-icon {
                        color: var(--gasoline-80);
                        .mat-icon {
                            color: var(--gasoline-80);
                            fill: var(--gasoline-80);
                        }
                        &::before {
                            background-color: var(--gasoline-80);
                        }
                    } 
                    &::before {
                        background-color: var(--gasoline-80);
                    }
                }
                &.diesel {
                    .nozzle-icon {
                        color: var(--diesel);
                        .mat-icon {
                            color: var(--diesel);
                            fill: var(--diesel);
                        }
                        &::before {
                            background-color: var(--diesel);
                        }
                    } 
                    &::before {
                        background-color: var(--diesel);
                    }
                }
                &.cng {
                    .nozzle-icon {
                        color: var(--cng);
                        .mat-icon {
                            color: var(--cng);
                            fill: var(--cng);
                        }
                        &::before {
                            background-color: var(--cng);
                        }
                    } 
                    &::before {
                        background-color: var(--cng);
                    }
                }

                .nozzle-sale {
                    padding: 25px 0 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-weight: 500;
                        font-size: var(--gts-large-fs);

                        span {
                            font-size: 0.4em;
                            color: var(--gts-gray-color);
                        }
                    }
                    .sale-money {
                        font-size: var(--gts-large-fs);
                        span {
                            margin-right: -5px;
                            display: inline-block;
                            position: relative;
                            transform: translateY(-3px);
                            font-size: 0.4em;
                            color: var(--gts-dark-color);
                        }
                        .decimal {
                            margin-left: -1px;
                            font-size: 0.5em;
                            font-weight: 400;
                            color: var(--gts-gray-color);
                        }
                    }
                }

                .nozzle-time {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-bottom: 30px;
                    p {
                        span {
                            font-weight: 500;
                            color: var(--gts-dark-color);
                            width: 70px;
                            display: inline-block;
                        }
                        font-size: var(--gts-small-fs);
                        font-weight: 500;
                        padding-top: 5px;
                        color: var(--gts-gray-color);
                        &:first-of-type {
                            padding-top: 0 !important;
                        }
                    }
                }
            }
        }
    }
}